# https://doc.rust-lang.org/cargo/reference/config.html

[build]
rustflags = [
    "-Ctarget-feature=+atomics",
    "-Csymbol-mangling-version=legacy", # https://github.com/DioxusLabs/dioxus/issues/5005
    "-Zunstable-options",
    "-Clink-args=--shared-memory",
    "-Clink-args=--max-memory=1073741824",
    "-Clink-args=--import-memory",
    "-Clink-args=--export=__wasm_init_tls",
    "-Clink-args=--export=__tls_size",
    "-Clink-args=--export=__tls_align",
    "-Clink-args=--export=__tls_base",
]

# if this is enabled, the dioxus project's `cargo run` will wrongly build dioxus cli in wasm target
# cargo confuses current directory's config and dioxus target directory's config
# How to avoid red error in RustRover: find one "#[cfg(target_arch = "wasm32")]", in left gear icon, set target to wasm32-unknown-unknwon
#target = "wasm32-unknown-unknown"
